<div class="row">
   <div class="container">
       <div class="logo">
        <img src="../../../assets/argentinaPrograma-logo.png" id="logoAP" alt="">
       </div>
       <div class="redes">
        <div>
            <a href="https://www.linkedin.com/in/sabrina-elizabeth-sardella-973173100/"><img src="../../../assets/linkedin-logo.png" alt="" id="linkedin"> </a>
            <a href="https://github.com/SasaSardella"><img src="../../../assets/github-logo.png" alt="" id="GitHub"> </a>
            <a href="https://www.instagram.com/sasasardella/"><img src="../../../assets/instagram-logo.png" alt=""id="instagram"> </a>
            <a href="https://twitter.com/sasasardella"><img src="../../../assets/twitter-logo.png" alt=""id="twitter"> </a>
            <button type="button" class="btn btn-outline-light" (click)="login()">INGRESO</button>
        </div>
        
       </div>
   </div>
</div>


