<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/fotoPerfil.jpeg" alt=""
       class="img-fluid" id="fotodeperfil"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Sabrina Sardella</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <diV class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <Span>
           <h1>Acerca de mí</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto consequatur nobis similique autem impedit fuga soluta aspernatur officiis sed repellat at ducimus natus neque, sapiente quidem distinctio eveniet. Quae, labore?</p>
       </Span>>
    </diV>
</div>