<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
           <li>
               <h1>Educación 1</h1> - <h3>(years)</h3>
           </li>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, eum repellendus. Voluptatum, assumenda delectus. Unde nisi, voluptates maxime nulla est quod officia vel consequatur laboriosam quibusdam facilis explicabo, perspiciatis rem.</p>
       </ul>
       <ul>
        <li>
            <h1>Educación 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, eum repellendus. Voluptatum, assumenda delectus. Unde nisi, voluptates maxime nulla est quod officia vel consequatur laboriosam quibusdam facilis explicabo, perspiciatis rem.</p>
    </ul>
    <ul>
        <li>
            <h1>Educación 3</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, eum repellendus. Voluptatum, assumenda delectus. Unde nisi, voluptates maxime nulla est quod officia vel consequatur laboriosam quibusdam facilis explicabo, perspiciatis rem.</p>
    </ul>
</div>
</div>
