<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
       <img src="../../../assets/fotoPerfil.jpeg" alt=""
       class="img-fluid" id="fotodeperfil"> 
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <diV class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <Span>
           <h1>Acerca de mí</h1>
           <p>Nací y vivo en Mar del Plata desde hace 33 años. Estoy terminando las carreras de Licenciatura y el Profesorado en Comunicación Social en la Universidad Nacional de La Plata. Siempre me gustó la programación pero nunca me pude formarme hasta que llego la oportunnidad de Argentina Programa. Actualmente me interesan las áreas de QA y testing manual  y de Ciencia de Datos </p>
       </Span>
    </diV>
</div>